<html>
<head>
<title> Boycott China </title>
</head>
<body>
<table border=1>
<tr>
<th> Chinese App </th>
<th> Icon </th>
</tr>
{% for chinese_app in result %}
<tr>
<td> {{chinese_app.0}} </td>

<td><img src={{chinese_app.1}} alt={{chinese_app.0}} style="width:104px;height:142px;"></td>
</tr>
{% endfor %}
</table>

<form method = 'POST' action="/Search">
<input type = "text" name = "search" id = "search" placeholder = "Search...">
<input type = "submit" value = "Find">
</form>

<a href = '/alternatives'>See Alternative Apps </a>
<a href = '/suggest'> Help Us To Improve </a>
</body>
</html>